.home-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgrey;

}

.home-top img {
    margin: 50px;
    border-radius: 20px;
}

.quiz-club {
    color: rgb(238, 0, 0);
    font-size: xx-large;
}

.home-top h3 {
    padding-right: 50px;
}

.footer {
    margin-top: 100px;
}