.single-blog {
    border: 2px solid coral;
    border-radius: 10px;
    margin: 30px 200px;
    padding: 10px 50px;
}

@media only screen and (max-width: 600px) {
    .single-blog {
        border: 2px solid coral;
        border-radius: 10px;
        margin: 2px;
        padding: 5px;
    }
}