.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27, 26, 26);
    color: coral;
    padding: 0 50px;
}

.nav-link a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}